<div class="container">
<% @articles.each do |article| %>
<h2><%=article.title%></h2>
<div><%=article.content%></div>
<a href="<%=article_path(article)%>" class="badge badge-dark">Show</a>
<hr/>
<%end%>
</div>