<h1 style="color: #999;">Otlichno</h1>

<h3><%=@article.title%></h3>
<div><%=@article.content%></div>

<%# <a href="/articles">Show all articles</a> %>
<%= link_to 'Show All Articles', articles_path%>