<h3>Contact with us:)</h3>

<%= form_for :contact, url: '/contacts' do |f|%>
<p>
 <label for="contact_email">Email:</label><br/>
  <%= f.text_field :email%>
</p>
<p>
 <label for="contact_message">Your meaning:</label><br/>
  <%= f.text_area :message%>
</p>
<p>
  <%= f.submit 'Send Message '%>
</p>
<%end%>